annotated-doc==0.0.5
annotated-types==0.8.0
anyio==4.14.2
asgiref==3.12.1
click==8.4.2
Django==6.1
djangorestframework==3.18.0
djangorestframework-simplejwt==5.5.1
django-cors-headers==4.9.0
PyJWT==2.13.0
h11==0.16.0
httptools==0.8.0
idna==3.19
pydantic==2.13.4
pydantic_core==2.46.4
python-dotenv==1.2.3
PyYAML==6.0.3
sqlparse==0.6.0
starlette==1.6.0
typing-inspection==0.4.4
typing_extensions==4.16.0
uvloop==0.22.1
watchfiles==1.2.0
websockets==17.0.1
